<h1>Gmail API Quickstart</h1>

<!--Add buttons to initiate auth sequence and sign out-->
<button class="mat-raised-button" id="authorize_button" style="display: block;" (click)="signIn();">Authorize</button>

<h2>Select PDF</h2>
<div *ngFor="let pdfName of allPdfNames">
  <button class="mat-raised-button" (click)="fetchPdf(pdfName)">{{pdfName}}</button>
</div>

<pre id="content" style="white-space: pre-wrap;"></pre>
<hr>
<h2>Table</h2>
<button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
<input hidden (change)="selectFile($event)" #fileInput type="file" id="file">
<div style="padding-top: 1em">
  <app-receipt-table [dataSource]="articles"></app-receipt-table>
</div>
