<h1>Gmail API Quickstart</h1>

<!--Add buttons to initiate auth sequence and sign out-->
<button class="mat-raised-button" id="authorize_button" style="display: block;" (click)="signIn();">Authorize</button>

<h2>Select PDF</h2>
<div *ngFor="let receipt of allReceipts">
  <button class="mat-raised-button" (click)="loadReceipt(receipt)">{{receipt.name}}</button>
</div>

<pre id="content" style="white-space: pre-wrap;"></pre>
<hr>
<h2>Table</h2>
<div style="padding-top: 1em">
  <app-receipt-table [dataSource]="receipt.articles"></app-receipt-table>
</div>
